<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
		
		<File name="File" fileName="concert.log">
			<PatternLayout pattern="[%d{ISO8601} %-5level] %logger{36} - %msg%n"/>
		</File>
	</Appenders>
	<Loggers>
	   	<Logger name="http.SongkickConnector" level="trace" additivity="false">
	 		<AppenderRef ref="Console"/>
	 	</Logger>
	 	<Logger name="search.SearchArtist" level="trace" additivity="false">
	 		<AppenderRef ref="Console"/>
	 	</Logger>
	 	
	 	<Logger name="jsongkick.TimerTest" level="trace" additivity="false">
	 		<AppenderRef ref="File"/>
	 	</Logger>
	 	
	 	<Logger name="jsongkick.Helper" level="error" additivity="false">
	 		<AppenderRef ref="Console"/>
	 	</Logger>
	 	
	   <Root level="trace">
	     <AppenderRef ref="Console"/>
	     <AppenderRef ref="File" level="trace" />
	   </Root>\
	</Loggers>
</Configuration>